{% extends "dev_conf.html" %}
{% load static %}
{% block extra-head %}
<style>
  .dot {
    height: 25px;
    width: 25px;
    background-color: #b0b3af;
    border-radius: 50%;
    display: inline-block;
  }
  .row{
    margin-top: 3px;
    margin-bottom: 3px;
  }
  .th {
    vertical-align: middle;
  }
</style>
<link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/css/bootstrap4-toggle.min.css" rel="stylesheet">
{% endblock %}

{% block content-graph %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
<script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/4.4.1/socket.io.min.js"></script>

<div class="container-fluid">
  <h1 class="py-4 text-center" > Monitoring of the main antenna transmitters</h1>


  <!-- first  row : Status and alerts -->
  <div class="row">
    <div class="card-deck" style="width: 100%;">
      <div class="card border-light">
        <div class="card-body">
          <h4 class="card-title">Status</h4>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="row">Tx1</th>
                <td><span id="status1" class="dot"></span></td>
                <td><p id="status-text1" class="font-weight-bold">No data</p></td>
              </tr>
              <tr>
                <th scope="row">Tx2</th>
                <td><span id="status2" class="dot"></span></td>
                <td><p id="status-text2" class="font-weight-bold">No data</p></td>
              </tr>
              <tr>
                <th scope="row">Tx3</th>
                <td><span id="status3" class="dot"></span></td>
                <td><p id="status-text3" class="font-weight-bold">No data</p></td>
              </tr>
              <tr>
                <th scope="row">Tx4</th>
                <td><span id="status4" class="dot"></span></td>
                <td><p id="status-text4" class="font-weight-bold">No data</p></td>
              </tr>

              <tr>
                <th scope="row">Tx5</th>
                <td><span id="status5" class="dot"></span></td>
                <td><p id="status-text5" class="font-weight-bold">No data</p></td>
              </tr>

              <tr>
                <th scope="row">Tx6</th>
                <td><span id="status6" class="dot"></span></td>
                <td><p id="status-text6" class="font-weight-bold">No data</p></td>
              </tr>

              <tr>
                <th scope="row">Tx7</th>
                <td><span id="status7" class="dot"></span></td>
                <td><p id="status-text7" class="font-weight-bold">No data</p></td>
              </tr>
              <tr>
                <th scope="row">Tx8</th>
                <td><span id="status8" class="dot"></span></td>
                <td><p id="status-text8" class="font-weight-bold">No data</p></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="card border-light">
        <div class="card-body">
          <h4 class="card-title">Power Alerts</h4>
          <table class="table table-borderless">
            <tbody>
              <tr>
                <th scope="row"><p id="alertpot-time1" class="font-weight-bold"></p></th>
                <td><p id="alertpot-1" class="font-weight-bold"></p></td>
                <td><p id="alertpot-loc1" class="font-weight-bold"></p></td>
              </tr>
              <tr>
                <th scope="row"><p id="alertpot-time2" class="font-weight-bold"></p></th>
                <td><p id="alertpot-2" class="font-weight-bold"></p></td>
                <td><p id="alertpot-loc2" class="font-weight-bold"></p></td>
              </tr>
              <tr>
                <th scope="row"><p id="alertpot-time3" class="font-weight-bold"></p></th>
                <td><p id="alertpot-3" class="font-weight-bold"></p></td>
                <td><p id="alertpot-loc3" class="font-weight-bold"></p></td>
              </tr>
              <tr>
                <th scope="row"><p id="alertpot-time4" class="font-weight-bold"></p></th>
                <td><p id="alertpot-4" class="font-weight-bold"></p></td>
                <td><p id="alertpot-loc4" class="font-weight-bold"></p></td>
              </tr>
              <tr>
                <th scope="row"><p id="alertpot-time5" class="font-weight-bold"></p></th>
                <td><p id="alertpot-5" class="font-weight-bold"></p></td>
                <td><p id="alertpot-loc5" class="font-weight-bold"></p></td>
              </tr>

              <tr>
                <th scope="row"><p id="alertpot-time6" class="font-weight-bold"></p></th>
                <td><p id="alertpot-6" class="font-weight-bold"></p></td>
                <td><p id="alertpot-loc6" class="font-weight-bold"></p></td>
              </tr>

              <tr>
                <th scope="row"><p id="alertpot-time7" class="font-weight-bold"></p></th>
                <td><p id="alertpot-7" class="font-weight-bold"></p></td>
                <td><p id="alertpot-loc7" class="font-weight-bold"></p></td>
              </tr>
              <tr>
                <th scope="row"><p id="alertpot-time8" class="font-weight-bold"></p></th>
                <td><p id="alertpot-8" class="font-weight-bold"></p></td>
                <td><p id="alertpot-loc8" class="font-weight-bold"></p></td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- Third row : power graph-->
  <div class="row ">
    <div class="card border-light">
      <div class="card-body">
        <h3 class="card-title">Power graph</h3>
        <div class="row justify-content-md-center">
          <div class="col-md-9">
            <div id="plot-pot"></div>
          </div>
          <div class="col-md-3 text-end">
            <div class="card-body">
              <table class="table" style="max-width:170px;">
                <tbody>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Power (kW)</th>
                  </tr>
                  <tr>
                    <th scope="row">Potencia Total</th>
                    <td><p id="pot1"></p></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-body">

              <tr> 
                <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Pot-1">T1</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Pot-2">T2</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Pot-3">T3</button>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Pot-4">T4</button>
                 </td>
              </tr>
                <tr> 
                  <td>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Pot-5">T5</button>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Pot-6">T6</button>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Pot-7">T7</button>
                  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#Pot-8">T8</button>
                </td>
                </tr>
              
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

<!--Modales-->
<div class="modal fade" id="Pot-1" role="dialog">
  <div class="modal-dialog modal-lg" style="max-width:50%;min-width:928px">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Incident Power - Transmitter 1 </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div id="plot-pot-t1"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Pot-2" role="dialog">
  <div class="modal-dialog modal-lg" style="max-width:50%;min-width:928px">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Incident Power - Transmitter 2</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div id="plot-pot-t2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Pot-3" role="dialog">
  <div class="modal-dialog modal-lg" style="max-width:50%;min-width:928px">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Incident Power - Transmitter 3</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div id="plot-pot-t3"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Pot-4" role="dialog">
  <div class="modal-dialog modal-lg" style="max-width:50%;min-width:928px">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Incident Power - Transmitter 4</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div id="plot-pot-t4"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Pot-5" role="dialog">
  <div class="modal-dialog modal-lg" style="max-width:50%;min-width:928px">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Incident Power - Transmitter 5</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div id="plot-pot-t5"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Pot-6" role="dialog">
  <div class="modal-dialog modal-lg" style="max-width:50%;min-width:928px">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Incident Power - Transmitter 6</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div id="plot-pot-t6"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Pot-7" role="dialog">
  <div class="modal-dialog modal-lg" style="max-width:50%;min-width:928px">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Incident Power - Transmitter 7</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div id="plot-pot-t7"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="Pot-8" role="dialog">
  <div class="modal-dialog modal-lg" style="max-width:50%;min-width:928px">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Incident Power - Transmitter 8</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col">
            <div id="plot-pot-t8"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<script src="{% static 'js/atrad-mainpage.js' %}"></script>

{% endblock %}