{% extends "dev_conf.html" %}
{% load static %}
{% load bootstrap3 %}
{% load main_tags %}s

{% block extra-head %}
<style type="text/css">
    /* show the move cursor as the user moves the mouse over the panel header.*/
    .panel-default { cursor: move; }
</style>
{% endblock %}
{% block content %}
<table class="table table-bordered">
{% for key in dev_conf_keys %}
<tr><th>{{key|title}}</th><td>{{dev_conf|attr:key}}</td></tr>
{% endfor %}
</table>
<button class="btn btn-primary pull-right" style="margin-left: 10px" id="bt_send">Send</button>
<button class="btn btn-primary pull-right" style="margin-left: 10px" id="bt_export">Export</button>
<button class="btn btn-primary pull-right" style="margin-left: 10px" id="bt_edit">Edit</button>
<br>
<h2>RC Lines</h2><hr>

<div class="panel-group" id="div_lines" role="tablist" aria-multiselectable="true">
{% include "rc_lines.html" %}
</div>

<br>
<div class="pull-right">
<button class="btn btn-primary" id="bt_add_line">Add Line</button>
<button class="btn btn-primary" id="bt_edit_lines">  Edit  </button>
<button class="btn btn-primary" id="bt_pulses">Pulses</button>
</div>
{% endblock %}


{% block extra-js%}

<script type="text/javascript">

  $("#bt_edit").click(function() {
    document.location = "{% url 'url_edit_rc_conf' dev_conf.id %}";
  });
  
  $("#div_lines").on("click", "button[name=bt_remove_line]", function(){
    document.location = "line/"+$(this).val()+"/delete/";
  }); 
  
  $(".panel-group").sortable({
    //placeholder: "ui-state-highlight",
    update: function( event, ui ) {
        var sorted = $( ".panel-group" ).sortable( "serialize", { key: "item" } );
        var url = "{% url 'url_update_rc_lines' dev_conf.id %}";
        var csrf_token = "{{csrf_token}}";
        $.post( url, { 'items': sorted, 'csrfmiddlewaretoken': csrf_token }, function(data){
           $("#div_lines").html(data.html);
        });
    }
  });
  
   
  $("#bt_add_line").click(function() {
    document.location = "{% url 'url_add_rc_line' dev_conf.id%}";
  });
  
  $("#bt_edit_lines").click(function() {
    document.location = "{% url 'url_edit_rc_lines' dev_conf.id %}";
  });
  
</script>
{% endblock %}