{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block mainactive %}active{% endblock %}

{% block content-title %}SIR{% endblock %}
{% block content-suptitle %}Authetication{% endblock %}

{% block content %}
<div class='col-md-8'>
  <form class="form" method="post" action="{% url 'url_login' %}">
  {% csrf_token %}
  {% bootstrap_form form %}
  <input type="hidden" name="next" value="{{ next }}" />
  {% bootstrap_button "Login" button_type="submit" button_class="btn-primary" %}
  </form>
</div>
{% endblock %}

{% block messages%}
{% endblock %}

{% block sidebar%}
{% endblock %}
