<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Jicamarca Integrated Radar System:::::{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# bootstrap_css #}
    <link href="{% static 'css/bootstrap-flatly.min.css' %}" media="all" rel="stylesheet">
    <style type="text/css">
      body {padding-top: 60px}
      .logo {padding-top: 5px; height: 50px}
      .clickable-row {cursor: pointer;}
      .col-no-padding { padding-left:0;}
      .gi-2x{font-size: 2em;}
      .gi-3x{font-size: 3em;}
      .gi-4x{font-size: 4em;}
      .gi-5x{font-size: 5em;}
    </style>
    <!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->    
    <script src="{% static 'js/jquery.min.js' %}"></script>
    {% block extra-head %}
    {% endblock %}
</head>

<body>

{% block main_menu %}
<nav class="navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}" style="padding-top:1px"><img class="logo" alt="JRO" src="{% static "images/logo-jro-white-trans.png" %}"></a>
      </div>
      <div class="collapse navbar-collapse" id="navigationbar">
        <ul class="nav navbar-nav"> 
          <li class=" dropdown {% block operation-active %}{% endblock %}"><a href="{% url 'url_operation'%}">Operation</a>
          </li>
          <li class=" dropdown {% block new-active %}{% endblock %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">New<span class="caret"></span></a>          
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'url_add_campaign' %}">Campaign</a></li>
              <li><a href="{% url 'url_add_experiment' %}">Experiment</a></li>
              <li><a href="{% url 'url_add_dev_conf' 0%}">Device Configuration</a></li>
              <li><a href="{% url 'url_add_device'%}">Device</a></li>
              <li><a href="{% url 'url_add_location'%}">Radar System</a></li>
            </ul>          
          </li>
          <li class=" dropdown {% block search-active %}{% endblock %}">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<span class="caret"></span></a>          
            <ul class="dropdown-menu" role="menu">
              <li><a href="{% url 'url_campaigns' %}">Campaigns</a></li>              
              <li><a href="{% url 'url_experiments' %}">Experiments</a></li>
              <li><a href="{% url 'url_dev_confs' %}">Configurations</a></li>
              <li><a href="{% url 'url_devices' %}">Devices</a></li>
              <li><a href="{% url 'url_locations' %}">Radar Systems</a></li>
            </ul>
          </li>          
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-divider"></li>
          {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi {{ user.username }}<span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
                <li><a href="#">Control Panel</a></li>
                <li><a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></li>
             </ul>
          </li>
          {% else %}
          <li><a href="{% url 'django.contrib.auth.views.login' %}?next={{request.get_full_path}}">Login</a></li>
          {% endif %}                         
        </ul>
      </div>
    </div>
</nav>
<div style="clear: both;"></div>
{% endblock %}

<div class="container">
    <div id="page" class="row" style="min-height:600px">

	   <div class="col-md-3 hidden-xs hidden-sm" role="complementary">
	   <br><br>
	       <div id="sidebar">
	       {% block sidebar%}          
           {% endblock %}
	       </div>
	   </div>
	   
	   <div class="col-md-9 col-xs-12" role="main">
	   <div class="page-header">
        <h1>{% block content-title %}{% endblock %} <small>{% block content-suptitle %}{% endblock %}</small></h1>
       </div>
       {% block messages %}
	       {% if messages %}
	         {% for message in messages %}
	         <div class="alert alert-{% if message.tags %}{% if 'error' in message.tags %}danger{% else %}{{ message.tags }}{% endif %}{% else %}info{% endif %} alert-dismissible" role="alert">
	           <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	           <strong>{{message.tags|title}}!</strong> {{ message }}
	         </div>
	         {% endfor %}
	       {% endif %}
       {% endblock %}
       
	   {% block content %}
	   {% endblock %}
	     
	   </div>
	   
	</div><!--/row-->	
</div> <!-- container -->

<div id="debug">{{debug}}</div>

{% block footer %}
<footer class="footer">
  <div class="container">
  <p><hr></p>
  <p>
  &copy; <a href="http://jro.igp.gob.pe">Jicamarca Radio Observatory</a> - {% now "Y" %}               
  </p>
  </div>
</footer>
{% endblock %}

{# bootstrap_javascript jquery=True #}

<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block extra-js %}
{% endblock%}
</body>
</html>

