<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Jicamarca Integrated Radar System:::::{% endblock %}</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {# bootstrap_css #}
    <link href="{% static 'css/bootstrap-flatly.min.css' %}" media="screen" rel="stylesheet">
    <style type="text/css">
      body {padding-top: 60px}
      .logo {padding-top: 5px; height: 50px}
      .clickable-row {cursor: pointer;}   
    </style>
    <!--[if lt IE 9]>
	<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->    
    {% block extra-head %}
    {% endblock %}
</head>

<body>

{% block main_menu %}
<nav class="navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigationbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'index' %}" style="padding-top:1px"><img class="logo" alt="JRO" src="{% static "images/logo-jro-white-trans.png" %}"></a>
      </div>
      <div class="collapse navbar-collapse" id="navigationbar">
        <ul class="nav navbar-nav">          
          <li class=" dropdown {% block exp-active %}{% endblock %}"><a href="{% url 'experiments'%}">Experiments</a>
          </li>
          <li class=" dropdown {% block dev-active %}{% endblock %}"><a href="{% url 'devices'%}">Devices</a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="nav-divider"></li>
          {% if user.is_authenticated %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hi {{ user.username }}<span class="caret"></span></a>
             <ul class="dropdown-menu" role="menu">
                <li><a href="#">Control Panel</a></li>
                <li><a href="{% url 'django.contrib.auth.views.logout' %}">Logout</a></li>
             </ul>
          </li>
          {% else %}
          <li><a href="{% url 'django.contrib.auth.views.login' %}?next={{request.get_full_path}}">Login</a></li>
          {% endif %}                         
        </ul>
      </div>
    </div>
</nav>
<div style="clear: both;"></div>
{% endblock %}

<div class="container">
    <div id="page" class="row" style="min-height:600px">

	   <div class="col-md-3 hidden-xs hidden-sm" role="complementary">
	   <br><br>
	       <div id="sidebar">
	       {% block sidebar%}          
           {% endblock %}
	       </div>
	   </div>	
	   
	   <div class="col-md-9 col-xs-12" role="main">
	   <div class="page-header">
        <h1>{% block content-title %}{% endblock %} <small>{% block content-suptitle %}{% endblock %}</small></h1>
       <hr>
       </div>  
	   {% block content %}
	   {% endblock %}
	   <br>
	   {% block messages %}
	   {% endblock %}
	   </div>
	     
	   
	</div><!--/row-->	
</div> <!-- container -->

<div id="debug">{{debug}}</div>

{% block footer %}
<footer class="footer">
  <div class="container">
  <p><hr></p>
  <p>
  &copy; <a href="http://jro.igp.gob.pe">Jicamarca Radio Observatory</a> - {% now "Y" %}               
  </p>
  </div>
</footer>
{% endblock %}

{# bootstrap_javascript jquery=True #}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
{% block extra-js %}
{% endblock%}
</body>
</html>

