{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load main_tags %}
{% block extra-head %}
<link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" media="screen" rel="stylesheet">
{% endblock %}

{% block camp-active %}active{% endblock %}

{% block content-title %}{{title}}{% endblock %}
{% block content-suptitle %}{{suptitle}}{% endblock %}

{% block content %}
	<table class="table table-bordered">
	{% for key in campaign_keys %}
		<tr><th>{{key|title}}</th><td>{{campaign|attr:key}}</td></tr>
	{% endfor %}
	</table>
	
	<button class="btn btn-primary pull-right" style="margin-left: 10px" id="bt_export">Export</button>
	<button class="btn btn-primary pull-right" style="margin-left: 10px" id="bt_edit">Edit</button>
	
	<br></br>
	<br></br>

	<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
	  
	  <div class="panel panel-default">
	    <div class="panel-heading" role="tab" id="headingTwo">
	      <h4 class="panel-title">
	        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
	          Experiment List
	        </a>
	      </h4>
	    </div>
	    
	    <div id="collapseTwo" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingTwo">
	      <div class="panel-body">
	      <table class="table table-hover">
			<tr>
			  <th>#</th>
			  {% for header in experiment_keys %}
			  <th>{{ header|title }}</th>
			  {% endfor%}
			</tr>
			{% for item in experiments %}
			<tr class="clickable-row" data-href="{% url 'url_experiment' item.id %}">
			  <td>{{ forloop.counter }}</td>
			  {% for key in experiment_keys %}
			  <td>{{ item|attr:key }}</td>
			  {% endfor %}
			</tr>
			{% endfor %}
		  </table>		  
	      </div>
	    </div>
	  </div>
	</div>
{% endblock %}

{% block sidebar%}
   {% include "sidebar_devices.html" %}
{% endblock %}

{% block extra-js%}
<script type="text/javascript">

  $(".clickable-row").click(function() {
	    document.location = $(this).data("href");
	  });
  
  $("#bt_edit").click(function() {
	    document.location = "{% url 'url_edit_campaign' campaign.id %}";
	  });
  
</script>
{% endblock %}