{% extends "base_edit.html" %}
{% load bootstrap3 %}
{% load static %}
{% load main_tags %}


{% block extra-js%}

{% if id_exp %}

<script type="text/javascript">

  $("#id_device").change(function() {
    var url = "{% url 'url_add_dev_conf' id_exp  %}";
    document.location = url+ $(this).val() + "/?name=" + $("#id_name").val();
  });

  $('#id_create_from').change(function() {
    var url = "{% url 'url_add_dev_conf' id_exp %}";
    if ($(this).val()=="2"){      
      document.location = url+"?template=0";
    }else if ($(this).val()=="1"){
      document.location = url+"?blank=0";
    }else{
      document.location = url;
    }
  });
  
  $('#id_choose_template').change(function() {
    var url = "{% url 'url_add_dev_conf' id_exp %}";          
    document.location = url+"?template="+$(this).val();
  });

</script>

{% endif %}

{% endblock %}