{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load main_tags %}

{% block dev-active %}active{% endblock %}

{% block content-title %}{{title}}{% endblock %}
{% block content-suptitle %}{{suptitle}}{% endblock %}

{% block content %}
<table class="table table-hover">
  <tr>
	<th>#</th>
	{% for key in device_keys %}
	<th>{{ key|title }}</th>
	{% endfor%}
  </tr>
  {% for device in devices %}
	<tr class="clickable-row" data-href="{% url 'url_device' device.id %}">
	  <td>{{ forloop.counter }}</td>
	  {% for key in device_keys %}
	  <td>{{ device|attr:key }}</td>
	  {% endfor %}
	</tr>
  {% endfor %}
</table>
<button class="btn btn-primary pull-right" id="bt_add">{{button}}</button>
{% endblock %}

{% block sidebar%}
   {% include "sidebar_devices.html" %}
{% endblock %}

{% block extra-js%}
<script src="{% static 'js/moment.min.js' %}"></script>
<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
<script type="text/javascript">
  
  $("#bt_add").click(function() {
    document.location = "{% url 'url_add_device' %}";
  });
 
  $(".clickable-row").click(function() {
	    document.location = $(this).data("href");
	  });
  
</script>
{% endblock %}