{% load static %} {% load django_bootstrap5 %}
<footer>
    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-6">
            <div class="footer-tittle">RADIO OBSERVATORIO DE JICAMARCA</div>
        <ul class="footer-contact">
            <li>Lunes a Jueves de 7:50 a 17:50</li>
            <li>Lurigancho-Chosica S/N, Lima 15464 – Perú</li>
            <li>roj@igp.gob.pe</li>
            <li>+51 1317-2313</li>
        </ul>
        </div>
        <div class="col-12 col-lg-6">
            <div class="footer-tittle">SOCIAL</div>
            <div class="row">
                <div class="col-6">
                    <ul class="footer-social">
                        <li><a href="https://www.facebook.com/igp.peru" target="_blank"><i class="fab fa-facebook-square fa-lg" aria-hidden="true"></i> Facebook</a></li>
                        <li><a href="https://twitter.com/igp_peru" target="_blank"><i class="fab fa-twitter-square fa-lg" aria-hidden="true"></i> Twitter</a></li>
                        <li><a href="https://www.instagram.com/igp.peru" target="_blank"><i class="fab fa-instagram fa-lg" aria-hidden="true"></i> Instagram</a></li>
                    </ul>
                </div>
                <div class="col-6">
                    <ul class="footer-social">
                        <li><a href="https://www.youtube.com/igp_videos" target="_blank"><i class="fab fa-youtube fa-lg" aria-hidden="true"></i> YouTube</a></li>
                        <li><a href="https://www.linkedin.com/company/igpperu/" target="_blank"><i class="fab fa-linkedin fa-lg" aria-hidden="true"></i> Linkedin</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- div class="col-12 col-lg-2">
        <img src="{% static 'images/siempre-con-el-pueblo-bn-small.png' %}" class="img-fluid">
        </div -->
      </div>
    </div>
</footer>
