{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load main_tags %}

{% block dev-active %}{{dev_active}}{% endblock %}
{% block camp-active %}{{camp_active}}{% endblock %}
{% block exp-active %}{{exp_active}}{% endblock %}
{% block conf-active %}{{conf_active}}{% endblock %}

{% block content-title %}{{title}}{% endblock %}
{% block content-suptitle %}{{suptitle}}{% endblock %}

{% block content %}
<form action="" method="post">
	{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    <button type="button" class="btn btn-primary pull-right" style="margin-left: 10px" id="bt_cancel">Cancel</button>
    <button type=submit class="btn btn-primary pull-right" style="margin-left: 10px" id="bt_ok">Confirm</button>
</form>
{% endblock %}

{% block sidebar%}
{% include "sidebar_devices.html" %}
{% endblock %}

{% block extra-js%}
<script type="text/javascript">
  $("#bt_cancel").click(function() {
    document.location = "{%if url_cancel%} {% url url_cancel id_item %} {%endif%}";
  });
</script>
{% endblock %}