{% if experiment %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Experiment</h3>
  </div>
  <div class="list-group"> 
  	<a href="{% url 'experiment' experiment.id %}" class="list-group-item active" >{{ experiment.alias }}</a>
  </div>
</div>
{% endif %}

{% if devices %}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3>Devices</h3>
  </div>
  <div class="list-group">
  {% for item in devices %}
    <a href="/{{item.device_type__alias}}/{{item.configuration__id}}/" class="list-group-item {{item.active}}">{{item.device_type__alias}}</a>      
  {% endfor %}
  </div>
</div>
{% endif %}