{% if campaign %}
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h4>Campaign</h4>
	  </div>
	  <div class="list-group"> 
	  	<a href="{% url 'url_campaign' campaign.id %}" class="list-group-item active" >{{ campaign.name }}</a>
	  </div>
	</div>
	
	{% if experiments %}
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h4>Experiments</h4>
		  </div>
		  <div class="list-group"> 
		  {% for item in experiments %}
		    <a href="{% url 'url_experiment' item.id %}" class="list-group-item {{item.active}}">{{item.name}}</a>      
		  {% endfor %}
		  </div>
		</div>
	{% endif %}
{% endif %}

{% if experiment %}
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h4>Campaign</h4>
	  </div>
	  <div class="list-group"> 
	  	<a href="{% url 'url_campaign' experiment.campaign.id %}" class="list-group-item active" >{{ experiment.campaign.name }}</a>
	  </div>
	</div>
	
	{% if experiments %}
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h4>Experiments</h4>
		  </div>
		  <div class="list-group"> 
		  {% for item in experiments %}
		    <a href="{% url 'url_experiment' item.id %}" class="list-group-item {%if item.id == experiment.id%}active{%endif%}">{{item.name}}</a>      
		  {% endfor %}
		  </div>
		</div>
	{% endif %}
	
	{% if configurations %}
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h4>Device Configurations</h4>
		  </div>
		  <div class="list-group"> 
		  {% for item in configurations %}
		    <a href="{{item.get_absolute_url}}" class="list-group-item {{item.active}}">{{item.device.name}}</a>      
		  {% endfor %}
		  </div>
		</div>
	{% endif %}
	
{% endif %}

{% if dev_conf %}
	<div class="panel panel-default">
	  <div class="panel-heading">
	    <h4>Campaign</h4>
	  </div>
	  <div class="list-group"> 
	  	<a href="{% url 'url_campaign' dev_conf.experiment.campaign.id %}" class="list-group-item active" >{{ dev_conf.experiment.campaign.name }}</a>
	  </div>
	</div>
	
	{% if experiments %}
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h4>Experiments</h4>
		  </div>
		  <div class="list-group"> 
		  {% for item in experiments %}
		    <a href="{% url 'url_experiment' item.id %}" class="list-group-item {%if item.id == dev_conf.experiment.id%}active{%endif%}">{{item.name}}</a>      
		  {% endfor %}
		  </div>
		</div>
	{% endif %}
	
	{% if configurations %}
		<div class="panel panel-default">
		  <div class="panel-heading">
		    <h4>Device Configurations</h4>
		  </div>
		  <div class="list-group"> 
		  {% for item in configurations %}
		    <a href="{{item.get_absolute_url}}" class="list-group-item {%if item.id == dev_conf.id%}active{%endif%}">{{item.device.name}}</a>      
		  {% endfor %}
		  </div>
		</div>
	{% endif %}
	
	
{% endif %}
