{% extends "dev_conf_edit.html" %}
{% load bootstrap3 %}
{% load static %}
{% load main_tags %}

{% block content %}
<form class="form" method="post">
  {% csrf_token %}
  {% bootstrap_form form layout='horizontal' size='medium' %}
  <div style="clear: both;"></div>
  <h2>JARS filter</h2>
  <hr>
  <div class="panel-group" id="div_lines" role="tablist" aria-multiselectable="true">
  {% include "jars_filter_edit.html" %}
  </div>
  <div style="clear: both;"></div>
  <br>
</form>
{% endblock %}


{% block extra-js%}
<script src="{% static 'js/jars.js' %}"></script>

<script type="text/javascript">

$("#bt_cancel").click(function() {
    document.location = "{% url 'url_jars_conf' id_dev %}";
});

</script>
{% endblock %}
