{% load bootstrap3 %}
{% load static %}
{% load main_tags %}

{% block content %}

{% block menu-actions %}

{% endblock %}

<table class="table table-bordered">

	<tr> <th>Clock in (MHz)</th><td>{{filter.clock}}</td>            </tr>
	<tr> <th>Multiplier</th><td>{{filter.mult}}</td>	               </tr>
	<tr> <th>Frequency (MHz)</th><td>{{filter.fch}}</td>             </tr>
	<tr> <th>Frequency (Decimal)</th><td>{{filter.fch_decimal}}</td> </tr>
	<tr> <th>Filter 2</th><td>{{filter.filter_2}}</td>               </tr>
	<tr> <th>Filter 5</th><td>{{filter.filter_5}}</td>               </tr>
	<tr> <th>FIR Filter</th><td>{{filter.filter_fir}}</td>           </tr>

</table>


{% block extra-content %}
{% endblock %}

{% endblock %}
